{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "ENVIRONMENT": "STAGING",
  "HORIZON_URL": "https://horizon-testnet.stellar.org/",
  "HORIZON_NETWORK_PASSPHRASE": "Test SDF Network ; September 2015",
  "SKIP_SETUP": false,
  "SECURITY_MIN_NUMBER_ASSET_ACCOUNTS": 1,
  "BASE_FEE_IN_XLM": 0.5,
  "RESTRICT_PROVIDERS": "",
  "MASTER_ACCOUNT_PRIVATE_KEY": "SC5O7VZUXDJ6JBDSZ74DSERXL7W3Y5LTOAMRF7RQRL3TAGAPS7LUVG3L",
  "MASTER_ACCOUNT_PUBLIC_KEY": "GBZXN7PIRZGNMHGA7MUUUF4GWPY5AYPV6LY4UV2GL6VJGIQRXFDNMADI"
}
